#app {
  animation: hide 0.12s ease-in-out forwards;
  /* width: 100%;
  height: 100%;
  transition: transform 0.15s ease-in-out; */
}

@keyframes show {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes hide {
  from {
      transform: translateY(0) ;
  }
  to {
      transform: translateY(100%);
  }
} 

html {
  scroll-behavior: smooth;
}